<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>MY FIRST VIEW!!!!</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>TThis HTML code is inside of a '.erb' file in the views directory</p>
  </body>
</html>
