<!DOCTYPE html>
<html>
    <head>
        <title>Info Page : Creating another view for Controller to render</title>
    </head>
    <body>
        <h1>This is an h1</h1>
        <p>This is the info page: This HTML code is inside of a '.erb' file in the views directory, where it belongs. Type the following:
        get "/info" do  erb.info end inside the app.rb to show it</p>
    </body>
</html>
